@import "_shared.scss";

.listItemsPage {
  margin: 0 auto;
  max-width: $meli-containers-max-width;

  .resultsContainer {
    background-color: $meli-color-white;
    border-radius: 4px;

    .resultContainer {
      .itemSeparator {
        border-top: 1px solid $meli-color-light-gray;
        margin: 0 20px;
      }

      &:last-child {
        .itemSeparator {
          display: none;
        }
      }
    }
  }
}
