@import '_shared.scss';

.meli-header {
  background-color: $meli-color-yellow;
  min-width: $meli-containers-min-width;

  .content {
    height: 46px;
    max-width: $meli-containers-max-width;
    margin: 0 auto;
    padding: 10px 0 0;

    .logo {
      margin-right: 26px;
    }
  }
}
